.l-header {
    width: 100%;
    background-color: $color-brown;
    position: fixed;
    top: 0%;
    z-index: 99;
    &__inner {
        box-sizing: border-box;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 30px;
        @include display-flex(row, space-between, center);
        &__logo {
            font-family: $font-vollkorn;
            font-size: unquote('clamp(1.875rem, 1rem + 0.78vw, 1.125rem)');
            line-height: 100%;
            color: $color-white;
        }
        &__navi {
            @include display-flex(row, space-between, center);
            column-gap: 14px;
            &--item {
                font-family: $font-poppins;
                font-size: 16px;
                line-height: 100%;
                color: $color-white;
                font-weight: 600;
                text-decoration: none;
                padding: 18px 24px 22px;
                &.is-active {
                    background-color: #917d64;
                }
            }
        }
    }
}
@include respond(tablet) {
    .l-header {
        &__inner {
            max-width: 100vw;
            padding: 20px 10px 4px;
            @include display-flex(column, center, center);
            row-gap: 30px;
            &__logo {
                font-size: 22px;
                line-height: 120%;
                text-align: center;
            }
            &__navi {
                @include display-flex(row, center, center);
                column-gap: 0px;
                &--item {
                    font-size: 14px;
                    line-height: 130%;
                    text-align: center;
                    padding: 10px 14px 10px;
                }
            }
        }
    }
}
