body {
    background-color: $color-white;
    font-size: 16px;
    line-height: 1em;
    color: $color-black;
    letter-spacing: 0;
    scroll-behavior: smooth;
    img {
        vertical-align: sub;
        width: 100%;
        height: auto;
    }
}
